<html>
	<body><h2>Add Asset</h2>Welcome to the add asset page, please enter an asset tag, an asset description, date and facility to continue.<br><br>

		Current Assets:<br>
		{% for asset in assets %}
			<h4>{{asset}}</h4>
		{% endfor %}
		<br>
		<form action="{{url_for('add_asset')}}" method="POST">
			Asset Tag<br>
			<input type="text" name="asset_tag" maxlength="16" /><br><br>
			Asset Description<br>
			<input type="text" name="description" /><br><br>
			Date<br>
			<input type="date" name="arrival" value="2017-01-01" /><br><br>
			Facility<br>
			<select name="common_name">
				{% for facility in facilities %}
					<option value="{{facility}}">{{facility}}</option>
				{% endfor %}
			</select>
			<br><br><br>
			<input type="submit" name="submit" value="Add Asset" />
		</form>
		<br><br>
		<a href="{{url_for('dashboard')}}">Dashboard</a>
	</body>
</html>