<html>
	<body><h2>Add Facility</h2>Welcome to the add facility page, please enter a facility name, fcode and location to continue.<br><br>

		<form action="{{url_for('add_facility')}}" method="POST">
			Facility Name<br>
			<input type="text" name="facility_name" /><br><br>
			Facility Code<br>
			<input type="text" name="fcode" /><br><br>
			Location<br>
			<input type="text" name="location" /><br><br>
			<br>
			<input type="submit" name="submit" value="Add Facility" />
		</form>
	</body>
</html>