<html>
	<body><h2>Asset Report</h2>Welcome to the add asset report page, please select a facility and a date to continue.<br><br>

		Current Assets:<br>
		{% for asset in assets %}
			<h4>{{asset}}</h4>
		{% endfor %}
		<br>
		<form action="{{url_for('asset_report')}}" method="POST">
			Facility<br>
			<select name="common_name">
				{% for facility in facilities %}
					<option value="{{facility}}">{{facility}}</option>
				{% endfor %}
			</select><br><br>
			Date<br>
			<input type="date" name="arrival" /><br><br>
			<br><br><br>
			<input type="submit" name="submit" value="Get Report" />
		</form>
	</body>
</html>