<html>
	<body><h2>Dashboard</h2>Welcome to the dashboard page, {{session.username}}!<br><br>

		<a href="{{url_for('asset_report')}}"> Asset Report</a><br>
		<a href="{{url_for('transfer_report')}}"> Transfer Report</a><br>
		<a href="{{url_for('add_asset')}}"> Add Asset</a><br>
		<a href="{{url_for('add_facility')}}"> Add Facility</a><br>
		{% if session.role == 'Logistics Officer' %}
			<a href="{{url_for('dispose_asset')}}"> Dispose Asset</a><br>
			<a href="{{url_for('transfer_req')}}"> Transfer Request</a><br>
		{% endif %}

		<!-- {% if session.role == 'Logistics Officer' %}
		{% if session.asset_report != [] %}
		<table border="1">
			<tr>
				<th>Asset Tag</th>
				<th>Asset Description</th>
				<th>Asset Location</th>
			</tr>
			{% for entry in session.asset_report %}
			<tr>
				<td>{{entry.asset_tag}}</td>
				<td>{{entry.description}}</td>
				<td>{{entry.facility}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		{% endif %} -->
		
		<br><br>
		{% if session.role == 'Facilities Officer' %}
		{% if session.requests != [] %}
		Transfer requests needing approval:
		<table border="1">
			<tr>
				<th>Asset</th>
				<th>Source</th>
				<th>Destination</th>
			</tr>
			{% for request in session.requests %}
			<tr>
				<td>{{request.asset_tag}}</td>
				<td>{{request.source_facility}}</td>
				<td>{{request.destination_facility}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		{% endif %}

	</body>
</html>