<html>
	<body><h2>Report Menu</h2><br>

		<h3>Facility Inventory Report</h3>
		<form action="{{url_for('facility_inventory_report')}}">
			<br>
			Facility Name<br>
			<select name="facility">
			  <option value="headquarters">Headquarters</option>
			  <option value="MB005">MB 005</option>
			  <option value="site300">Site 300</option>
			  <option value="groomLake">Groom Lake</option>
			  <option value="losAlamos_NM">Los Alamos, NM</option>
			  <option value="nationalCity">National City</option>
			  <option value="sparks_NV">Sparks, NV</option>
			  <option value="washington_DC">Washington, D.C.</option>
			</select>
			<br><br>
			Date<br>
			<input type="date" name="report_date"><br>
			<br><br>
			<input type="submit" name="submit" value="Inventory Report"/>
		</form>

		<br><br>
		<hr>
		<br><br>

		<h3>In Transit Report</h3>
		<form action="{{url_for('in_transit_report')}}">
			<br>
			Date<br>
			<input type="date" name="report_date"><br>
			<br><br>
			<input type="submit" name="submit" value="Transit Report"/>
		</form>


	</body>
</html>