<html>
	<body><h2>Report Menu</h2><br>

		<h3>Facility Inventory Report</h3>
		<form action="{{url_for('facility_inventory_report')}}">
			<br>
			Facility Name<br>
			<select name="facility">
			  <option value="Headquarters">Headquarters</option>
			  <option value="MB 005">MB 005</option>
			  <option value="Site 300">Site 300</option>
			  <option value="Groom Lake">Groom Lake</option>
			  <option value="Los Alamos, NM">Los Alamos, NM</option>
			  <option value="National City">National City</option>
			  <option value="Sparks, NV">Sparks, NV</option>
			  <option value="Washington, D.C.">Washington, D.C.</option>
			</select>
			<br><br>
			Date<br>
			<input type="date" name="report_date"><br>
			<br><br>
			<input type="submit" name="submit" value="Inventory Report"/>
		</form>

		<br><br>
		<hr>
		<br><br>

		<h3>In Transit Report</h3>
		<form action="{{url_for('in_transit_report')}}">
			<br>
			Date<br>
			<input type="date" name="report_date"><br>
			<br><br>
			<input type="submit" name="submit" value="Transit Report"/>
		</form>

<!-- 		<table>
			{% for entry in processed_data %}
			<tr>
				<td>{{ entry.asset_tag }}</td>
				<td>{{ entry.description }}</td>
			</tr>
			{% endfor %}
		</table> -->


	</body>
</html>